@import url("https://use.typekit.net/jtp0zud.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/*
red: #FC6E66;
yellow: #F7DC5A;
blue: #488DD3;
green: #0DB57D;
tan: #F2EDE7;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Lato Black*/
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

/*Fresno*/
h2 {
  font-family: fresno, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

/*Lato Bold*/
/*Appears on Product Cards*/
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/*Lato Regular*/
p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

ul,
li {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  list-style: none;
}

li {
  cursor: pointer;
}

/*Universal Buttons*/
button {
  font-family: fresno, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
}

/*Hyperlink Reset*/
a {
  color: inherit;
  text-decoration: inherit;
  /* no underline */
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

/*Desktop Nav*/
.desktopNav {
  display: none;
}

/*Footer*/

footer {
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.footerNav {
  font-size: 1.25rem;
}

.footerNav li {
  margin-bottom: .5rem;
}

footer hr {
  width: 100%;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footerUppercase {
  text-transform: uppercase;
  margin-bottom: 1rem;
}


/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  .desktopNav {
    display: flex;
    position: absolute;
    padding: 5rem;
    width: 100%;
    justify-content: center;
  }

  .desktopNav ul {
    display: flex;
    justify-content: space-between;
    width: 60vw;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {}