/*Home*/
.homeContainer {
  width: 100%;
  height: fit-content;
}

.heroContainer {
  width: 100%;
  height: 100vh;
  background-color: #F2EDE7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroContainer h1 {
  font-size: 2rem;
}

.heroContainer h2 {
  font-size: 1rem;
  letter-spacing: 2px;
}

.heroContainer button {
  margin-top: 2rem;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 2px solid black;
}

.heroContainer button:hover {
  background-color: #FC6E66;
  transition: ease-in-out .2s all;
}

/*Home Shop*/
.homeShopContainer {
  background-color: white;
  padding: 2rem;
}

.shopFilters ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.shopCardsContainer {
  margin-top: 2rem;
}

.individualCards {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
  color: black;
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}

.fullShopLink {
  float: right;
  font-size: .75rem;
}



/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  .heroContainer h1 {
    font-size: 6rem;
  }

  .heroContainer h2 {
    font-size: 2.5rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {}